NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Local Supabase stack settings
SITE_URL=http://localhost:3000
API_EXTERNAL_URL=http://localhost:54321
POSTGRES_PASSWORD=postgres
AUTH_JWT_SECRET=2a8fd0a629b05c81017efd33584c14c5374e0cd34ecff8050984b9b500015ca7
GITHUB_ENABLED=true
GITHUB_CLIENT_ID=Ov23liNeJEmKwvNtMfJn
GITHUB_CLIENT_SECRET=bf202f3009de1cbf638633c3bf3d4bbe0fdbf50f
